body{
    padding: 0;
    background: linear-gradient(to right, rgb(0, 102, 255), rgb(70, 159, 255));
}

.wrapper{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.506), rgba(255, 255, 255, 0.304));
    padding: 20px;
    width: 33%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px;
}

.city{
    color: aliceblue;   
    font-size: 24px;
    margin-top: 10px;
}
.day{
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 10px ;
}
.degreesc{
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 20px;
}
.degreesf{
    color: aliceblue;
    font-size: 34px;
    margin-bottom: 10px;
}

.left-block{
    width:50%;  
    left: 50%;
}

.weather-icon{
    width: 100%;
}

.weather-status{
    font-size: 40px;
}